#tiles div {
    border: 1px solid grey;
}

.floor {
    background-color: lightgray;
}

.wall {
    background-color: skyblue;
}

.game-map {
    position: relative;
}

div.layer, div.layer div {
    position: absolute;
}

.player {
    background-color: #90ee90;
    border: 1px solid #98720b;
    transition: left 0.2s linear, top 0.2s linear;
}

.goal {
    background-color: #ffd700;
    border: 1px solid #98720B;
}

.player, .goal {
    transform-origin: center;
    transform: scale(0.85);
}

#success-msg {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: calc(100% - 8px);
}

body.success #success-msg {
    opacity: 1;
    transition: opacity 0.2s ease;
}

#map-and-controls {
    display: flex;
    justify-content: center;
}