<div class="book border border-2 border-dark p-2">
  <div class="row">
    <div class="col-sm-8"><b>Alice's Adventures in Wonderland</b> - (en)</div>
    <div class="col-sm-4">
      <b>Categories:</b>
      <ul>
        <li>Fiction</li>
        <li>Science</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <b>Authors</b>
      <ul>
        <li>Carroll, Lewis - (1832 - 1898)</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <b>Shelves:</b>
      <ul>
        <li>Children's Literature</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      Downloaded <b>17866</b> times.
      <ul>
        <li><a href="http://www.gutenberg.org/files/11/11-0.zip" target="_blank" rel="noopener noreferrer">http://www.gutenberg.org/files/11/11-0.zip</a></li>
      </ul>
    </div>
  </div>
</div>
