<table class="table books table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Authors</th>
  </tr>
  </thead>
  <tbody>
    <tr class="books books__item">
      <th scope="row">1</th>
      <td>Pride and Prejudice</td>
      <td>Austen, Jane</td>
    </tr>
    <tr class="books books__item">
      <th scope="row">2</th>
      <td>Calculus Made Easy: Being a very-simplest introduction to those beautiful methods which are generally called by the terrifying names of the Differential Calculus and the Integral Calculus</td>
      <td>Thompson, Silvanus P. (Silvanus Phillips)</td>
    </tr>
  </tbody>
</table>
<app-book></app-book>

